body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif; 
}

/*
.Modified {
    background-color:   palegreen; 
}

.Added {
    background-color:   palegreen; 
}

.In-Process {
    background-color:    salmon; 
}

*/

.Deleted {
    text-decoration:   line-through;
    opacity:  0.6;
}


.Published {
}


.Modified .statusColumn, .Added .statusColumn {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(84,204,130,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(255,255,255,1)), color-stop(100%, rgba(84,204,130,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(84,204,130,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(84,204,130,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(84,204,130,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(84,204,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#54cc82', GradientType=1 );
}

.In-Process .statusColumn {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,66,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(255,255,255,1)), color-stop(100%, rgba(255,66,66,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,66,66,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,66,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,66,66,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff4242', GradientType=1 );
}
/* -------------------------------- */

.Help {
    text-align: left;
}


.unknown, .Cancelled  {
    text-decoration:   blink;
}

.noBorders>tbody>tr, .noBorders>tbody>tr>td {
    background: none;
    border: none !important;
    /* vertical-align: top; */
}

.heading { 
    text-align: left;   
}

.centered { 
    margin: 0 auto;
}

.fixedPosition {
    position: fixed;
    right: 5%;
    top: 10%;
}

.box {
    margin: 0px; 
    padding: 10px;
    border: 0px solid LightGray;
    border-radius: 7px;
    box-shadow: 0 0 7px 2px #888888; 
    color: black;
    /* text-align: left; */
    /* width: 80%; */
    /* background-color: #FFFFFF;  */
}

.boxf {
    margin: 0px; 
    padding: 10px;
    border: 0px solid #000000;
    color: black;
    width: 90%;
    margin: 0  auto;
    /* background-color: #FFFFFF; */
}

/* text wrap around in data table*/
.ui-datatable td {
    white-space: normal !important;
}

.para {
    margin-bottom: 10px;
    padding: 0px;
    text-align: left;
    border: none;
}
.menubar {
    /* color: LightSlateGray; */
}


.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px; 
    font-style: normal;
    font-weight: bold; 
}
.Logo
{
    font-style: normal;
    vertical-align: middle;
    left: 15px;
    padding: 10px;
    text-decoration: none;
    background-image: url("#{resource['images:header-bg.png']}"); 
    background-repeat: repeat;
}

.ui-datatable-data {
    text-align: left;
}

#bottom {
    position: relative;
    display: block;
    background-color: #FFFFFF;
    color: #009999;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    text-align:  center;
}

#top {
    position: relative;
    border: 1px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

